@import '../../mainStyles/globalVariables.scss';


.location-container {

    background-color: $Main-Green-Dark;
    height: 100vh;
    
}

#location-div-helper {
    width: 100%;
    height: 300px;
    background-color: $Main-Green-Dark;
    transform: translateZ(5px);
    border-top: solid 1px $Main-Beige-Dark;

    @media (max-width: 600px) {

        height: 150px;
        transform: translateZ(5px);
        margin-top: -95px;
        border-top: none;
        border-top: solid 1px $Main-Beige-Dark;

	}

}