@import '../../mainStyles/globalVariables.scss';


.location-container {

    background-color: $Main-Green-Dark;
    height: 1400px;
    
}

#location-div-helper {
    width: 100%;
    height: 300px;
    background-color: $Main-Green-Dark;
    transform: translateZ(5px);
    border-top: solid 1px $Main-Beige-Dark;

}