@import '../../mainStyles/globalVariables.scss';


#login-form-container {

    width: 50rem;
	height: auto;
	position: fixed;
	top: 35%;
	left: 50%;
	margin-left: -25rem;
	margin-top: -15rem;
	z-index: 1000;
	background-color: white;
	color: black;
	font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
	border-radius: 10px;

	border: none;
	box-shadow: 0px 0px 8px $Main-Green-Dark;

	@media (max-width:600px) {
		position: absolute;
		top: 0;
		left: 0;		
		margin-left: 15vw;
		margin-top: 15vw;

	}

	@media (max-width:480px) {
		
		margin-left: 10vw;
		

	}

	@media (max-width:400px) {
		
		margin-left: 8vw;

	}

	@media (max-width:380px) {
		
		margin-left: 6vw;

	}

	@media (max-width:350px) {
		
		width: 46rem;

	}

	@media (max-width:320px) {
		
		margin-left: 3vw;

	}

	@media (max-width:300px) {
		
		width: 100%;		
		margin-left: 0vw;
		border-radius: 0;

	}


}

#login-form-close-button {

    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    color: $Main-Orange-Dark;
    font-size: 2rem;
    transition: $mainTransition;
    
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
	}
	
	@media (max-width:600px) {

		top: 2rem;
		right: 2rem;
		width: 5rem;
		height: 5rem;
		font-size: 2.8rem;

	}

	@media (max-width:300px) {

		top: 2rem;
		right: 2rem;
		

	}

}

#login-form {

	padding: 40px;
	
	@media (max-width:1500px) {

		padding-top: 20px;
		padding-bottom: 20px;

	}

	@media (max-width:600px) {

		padding: 20px 20px;

		padding-top: 50px;

	}

}

#login-form-header {

	padding: 20px 0 30px 0;

	text-align: center;

	h6 {

		color: lighten($Main-Green-Dark,10%);
		font-weight: bold;

		@media (max-width:600px) {

			font-size: 16px;
	
		}

	}

	@media (max-width:600px) {

		padding-bottom: 20px;

	}
}

.login-form-text-div {
	
	width: 90%;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 10px 0;

	@media (max-width:300px) {
		
		padding: 10px 15px;

	}
	
	
	p {

		label {

			@include fontSize(1.2);

			@media (max-width:600px) {

				@include fontSize(1.5);
		
			}
			
			
		}

	}

	input {

		@include fontSize(1.2);

		width: 60%;
		padding: 5px 10px;
		border-radius: 5px;
		
		border: 1px solid lightgrey;

		@media (max-width:600px) {

			@include fontSize(1.5);
	
		}

		&:focus {
			background-color: lighten($Main-Green-Dark, 10%);
			color: white;
		}

		&::selection {
			background-color: white;
		}
	}

	@media (max-width:1100px) {

		width: 100%;

	}

}


#login-form-submit-button-container {

	width: 80%;
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 20px 0;

	button {
        width: 10rem;
		@include fontSize(1.4);
		padding: 5px 20px;
		border-radius: 5px;
		border: none;
		background-color: $Main-Orange-Dark;
		color: $Main-Blue-Dark;
		transition: $mainTransition;

		@media (max-width:600px) {

			width: 14rem;
			@include fontSize(1.8);
			padding: 10px 20px;
			font-weight: bold;
			letter-spacing: 2px;
			
	
		}

		&:focus {
			outline: 0;
		}

		&:hover {

			color: $Main-Orange-Dark;
			background-color: lighten($Main-Green-Dark,10%);
			

		}

	}

}


#login-form-footer {

	width: 80%;
    margin: 0 auto;
    padding-top: 1rem;

	p {

		@include fontSize(1);

		@media (max-width:600px) {

			@include fontSize(1.4);
	
		}


	}


}

